.rec-container {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 5%;
    margin-left: 25%;
    margin-top: 3%;
}

.back-btn:hover {
    width: 30%;
}

.back-btn {
    font-size: 24px;
    padding: 15px;
    width: 25%;
    transition: width 0.4s;
}